!!!
html
   head
      title= title
      link(rel='stylesheet', href='/css/readable.min.css')
      link(rel='stylesheet', href='/css/readable-responsive.min.css')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')
      link(rel='icon', href='/img/favicon.ico', type='image/x-icon')

      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(name='title', content='#{title}')

      block metas
         meta(name='description', content='')
   body
      div.navbar.navbar-fixed-top
         div.navbar-inner
            div.container-fluid
               button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
               a.brand(href='/') #{config.name}
               div.pull-right
                  ul.nav
                     if user
                        li.dropdown
                           a.dropdown-toggle(href='#', data-toggle='dropdown')
                              | Hi #{user.name.first}!&nbsp;
                              b.caret
                           ul.dropdown-menu
                              //-li
                                 a(href='/needmorestuff')
                              li
                                 a(href='/logout') Log Out
                              if user.role==='admin'
                                 li
                                    a(href='/admin') Admin Section
                     else
                        li.dropdown
                           a.dropdown-toggle(href='/login') Login
                              b.caret

               div.nav-collapse.collapse
                  ul.nav
                     each link in links
                        - var isActive = (link.path == current ? 'active' : '')
                        li(class = '#{isActive}')
                           a(href='#{link.path}')= link.label
               ///.nav-collapse
                     
      div.container-fluid   
         block afterNav
            div.row-fluid
               h3 Welcome to #{config.name}!
            if user
               div.row-fluid
                  span This is where your app content would go.
                  p Current User: #{user.username}
               div.row-fluid
                  h4 Project Page:
                  a(href='https://github.com/tutley/empbootstrap') EMP Bootstrap


            else
               div.row-fluid
                  p This is where the cool marketing front page shows up for new users.
                  a(href='/login') Login

      //- modals and other hidden things
      block modals


      script(src='/js/jquery.min.js')
      script(src='/js/bootstrap.min.js')
      block pageScripts
         


